# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist-info/

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data and outputs
data/
outputs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
